:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #09090b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/*---CUSTOM CSS----*/

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button {
  padding: 0.6em 1.2em;
  background-color: #ffffff;
  color: #09090b;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  background-color: #dfdfdf;
}

button:disabled {
  background-color: #212121;
  color: #666666;
  cursor: not-allowed;
}

.no-bg-button {
  background-color: transparent;
  color: #dfdfdf;
}

.no-bg-button-p0 {
  padding: 0px;
  background-color: transparent;
  color: #dfdfdf;
  outline: none;
}

.no-bg-button-p0:hover {
  color: #acacac;
  background-color: transparent;
}

.no-bg-button:hover {
  background-color: #232323;
}

button:focus {
  outline: none
}

input {
  flex: 1;
  margin-top: 5px;
  box-sizing: border-box;
  padding: 12px;
  border: 1px solid #3f3f46;
  border-radius: 8px;
  width: 100%;
  transition: 0.5s;
  background-color: #09090b;
}

input:focus-visible {
  background-color: #212121;
}

label {
  font-size: 14px;
  font-weight: 500;
}

.signup-form {
  width: 100%;
  display: flex;
  text-align: left;
  flex-direction: column;
  gap: 20px;
}

.input-group {
  width: 100%;
  display: flex;
  text-align: left;
  flex-direction: column;
  gap: 2px;
}

.input-group p {
  margin: 0px;
}

.error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 0.875em;
}

h3 {
  margin: 0px;
}

.box-outside {
  display: flex;
  border-radius: 12px;
  flex-direction: column;
  border: 1px solid #3f3f46;
  text-align: center;
  box-sizing: border-box;
}

.top-bar {
  justify-content: space-between;
  border-bottom: 1px solid #3f3f46;
  padding: 20px 20px;
  display: flex;
}

.default-padding {
  padding: 20px;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
